{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: 'list' }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2 class="archive__item-title" itemprop="headline">
      {{ title }}
      {% if post.status == 'prepare' %}
        [preparation]
      {% endif %}
      {% if post.status == 'reviewing' %}
        [under review]
      {% endif %}
    </h2>
    
    {% if post.status == 'published' %}
      <p>Published in <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}</p>
    {% elsif post.status == 'reviewing' %}
      <p>Under review</p>
    {% elsif post.status == 'prepare' %}
      <p>Joint work with {{ post.collaborators }}</p>
    {% endif %}

    {% if post.paperurl %}
      <p><a href="{{ post.paperurl }}" target="_blank">View paper</a></p>
    {% endif %}

    {% if post.citation and post.status == 'published' %}
      <p>Recommended citation: {{ post.citation }}</p>
    {% endif %}

  </article>
</div>